<script>
    const GH_API_URL = `https://api.github.com/repos/divkuso/divkuso/issues/1/comments?per_page=100`;
    let request = new XMLHttpRequest();
    request.open('GET', GH_API_URL, true);
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        let response = JSON.parse(this.response);
        let commentsList = document.getElementById('gh-comments-list');
        commentsList.innerHTML = ''; // Clear existing comments
        for (let i = 0; i < response.length; i++) {
          let comment = response[i];
          let commentElement = document.createElement('li');
          commentElement.innerHTML = `
            <img src="${comment.user.avatar_url}" alt="Avatar" width="50">
            <p><strong>${comment.user.login}</strong>: ${comment.body}</p>
          `;
          commentsList.appendChild(commentElement);
        }
      } else {
        console.log('Error fetching comments:', this.status);
      }
    };
    request.onerror = function() {
      console.log('Error fetching comments:', this.status);
    };
    request.send();
  </script>
  
  <ul id="gh-comments-list"></ul>