<!DOCTYPE html>
<html>
<head>
    <title>Contents</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <div id="comments">
        <h2>Comments</h2>
        <a id="contents-comment-link" href="#">Add a Comment</a>
        <div id="existing-contents-comments"></div>
    </div>

    <script>
        $(document).ready(function() {
            $('#contents-comment-link').attr('href', 'https://github.com/dikuso/dikuso.github.io/issues/new?title=Comment%20on%20contents.html');

            $.getJSON('https://api.github.com/repos/dikuso/dikuso.github.io/issues', function(data) {
                $.each(data, function(index, issue) {
                    if (issue.title.includes("Comment on contents.html")) {
                        $('#existing-contents-comments').append('<div class="comment"><h3>' + issue.title + '</h3><p>' + issue.body + '</p></div>');
                    }
                });
            });
        });
    </script>

    <style>
        .comment {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>

</body>
</html>