---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }} 

  <div class="home-sections-grid">
    {% include home_sections/projects_summary.html %}
    {% include home_sections/resume_link.html %}
    {% include home_sections/data_ai_journey_summary.html %}
    {% include home_sections/network_engineering_journey_summary.html %}
    {% include home_sections/social_links.html %}
    <section class="section-block">
      <h2>Latest Blog Posts</h2>
      <p>Stay up-to-date with my latest articles and insights. I share thoughts on technology, development, and more.</p>
      {% include blogs_list.html %} {# This uses the blog list include #}
      <a href="{{ "/blog/" | relative_url }}" class="button">View All Blogs</a>
    </section>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>